[user]
	name = Rails Course
    email = x16137108@student.ncirl.ie
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current