
		<!-- Main Title for Web page -->
		<h1>Welcome to my page</h1>
		
		<div id="row2">
			<ul>Below is a number of links to relevant Google pages:
				<li>Click <a href="http://www.google.com"> here</a> for google</li>
				<li>Click <a href="http://www.ultratech.com"> here</a> for Ultratech</li>
			</ul>
		</div>
		
		<!-- unordered list (bullets) -->
		<div id="row2">
			<ul>Animals:
				<li>Dogs</li>
				<li>Cats</li>
			</ul>
		
		<!-- ordered list (numbers) -->
			<ol>Food:
				<li>Chicken Burger</li>
				<li>Fish</li>
				<li>Steak</li>
			</ol>
		</div>

		
		<!-- Picture of a guitar -->
		<h4> This is a picture of a <b>guitar</b></h4>
	    <h4><img src="/assets/guitar3.jpg" /></h4>
		<h4><%= image_tag'/assets/guitar3.jpg' %></h4>
		

<%= link_to 'About', about_path %>